<div>
<h1><%="Stupid Coaching"%></h1>
</div>
<div>
<%= @question %>
</div>
<div>
<em><%="- You"%></em>
</div>
<div class="highlighted">
<%= @answer %>
<br><em><%="- Your coach"%></em><br>
</div>
<div>
<%= link_to "Ask more questions", "ask" %>
</div>
